{{/* display featured image or nothing if none configured.
     look for resource with name *featured*, or, if none
     whatever is identified by page Params.featured, or first item in Params.images
     if reference is to a resource, resize it appropriately
     if reference is to an external URI, use as is.

     Note: current code only resizes resource found by name match.
 */}}
 {{- $args := (merge (dict "aspect_ratio" 5.0 "width" "100%" "class" "") (cond (reflect.IsMap .) . (dict "page" .))) }} {{/* default width and height */}}
 {{ $imgpath := "" }}
{{ if (($args.page.Resources.ByType "image").GetMatch "*featured*")}}{{ $imgpath = "featured"}}
{{ else if ($args.page.Params.images)}}{{$imgpath = (index $args.page.Params.images 0)}}
{{ end }}
{{ partial "xfigure.html" (dict "page" $args.page "src" $imgpath "aspect_ratio" $args.aspect_ratio "width" $args.width "class" $args.class) }}
